@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap");

$primary: #519259;
$secondary: #daffde;
$hover: #0e5517;
$fontFamily: "Sora", sans-serif;
$trans: 0.5s ease;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: $fontFamily;
  scroll-padding-top: 50px;
}

body {
  width: 100%;
  min-height: 100vh;
  background: $secondary;
  //nav starts
  & nav {
    background: $primary;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    z-index: 5;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.4);

    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .logo {
        & a {
          color: $secondary;
          font-size: 2rem;
          letter-spacing: -4px;
          text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
          font-weight: bolder;
          transition: $trans;
          &:hover {
            color: $hover;
            transform: scale(1.5);
          }
        }
      }

      & .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: center;

        & .search {
          & input {
            width: 100px;
            height: 30px;
            transition: $trans;
            padding: 5px;
            outline: none;
            border: none;
            border-radius: 50px;
            margin: 0 10px;
            &:focus {
              animation: expend 1s forwards;
            }
          }
        }

        & i {
          margin: 0 10px;
          color: $secondary;
          cursor: pointer;
          transition: $trans;
          font-size: 1.3rem;
          text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
          &:hover {
            color: $hover;
            text-shadow: none;
          }
        }
      }
    }
  } //nav ends

  //home starts
  & main {
    width: 100%;
    min-height: 100vh;

    & section {
      padding: 0px;
    }

    & .home {
      margin-top: 0px;
      width: 100%;
      height: 100vh;
      position: relative;

      &::after {
        content: "";
        background: rgba(0, 0, 0, 0.6);
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      & .covertext {
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: start;
        float: left;
        position: absolute;
        top: 40%;
        margin: 0 150px;

        & h1 {
          font-size: 2.5rem;
          color: $secondary;
        }

        & h3 {
          font-size: 5rem;
          color: $secondary;
        }

        & p {
          font-size: 1rem;
          color: $secondary;
          letter-spacing: 5px;
        }

        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 200px;
          height: 50px;
          margin-top: 15px;
          border-radius: 50px;
          border: 1px solid $primary;
          background: transparent;
          color: $secondary;
          cursor: pointer;
          position: relative;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
          transition: $trans;

          &:hover {
            background: $primary;
            box-shadow: none;
            margin-bottom: 2px;
            letter-spacing: 3px;
          }
        }
      }

      & .slide-container {
        width: 100%;
        height: 100vh;
        & .mySlides {
          width: 100%;
          height: 100vh;
          //animation: fade 0.3s;
          & img {
            width: 100%;
            height: 100vh;
            background-size: cover;
            background-attachment: fixed;
          }
        }
      }
    }

    & .navigator {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
      background: #fff;
      width: 100%;
      height: 200px;

      & h3 {
        color: $primary;
        font-size: 1.4rem;
      }
      & .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & .a,
        .b,
        .c {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 200px;
          height: 50px;
          background: $primary;
          margin: 0 20px;
          border-radius: 50px;
          cursor: pointer;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
          transition: $trans;

          &:hover {
            box-shadow: none;
            letter-spacing: 2px;
            background: $hover;
          }

          & a {
            text-decoration: none;
            color: $secondary;
          }
        }
      }
    }

    & .content {
      width: 100%;
      height: auto;
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;

      & h1 {
        color: $primary;
        font-weight: bolder;
        font-size: 2rem;
        margin-top: 20px;
      }

      & .container {
        width: 100%;
        height: 350px;
        padding: 20px;
        overflow-x: scroll;
        overflow-y: hidden;

        & .item-container {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: max-content;
          height: 350px;
          padding: 20px;

          & .item-card {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 300px;
            height: 200px;
            background: #fff;
            position: relative;
            overflow: hidden;
            transition: $trans;
            cursor: pointer;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
            padding: 10px;
            margin: 0 5px;

            &:hover .tag {
              transform: translateY(50px);
            }
            &:hover img {
              transform: scale(1.2);
            }
            & img {
              width: 100%;
              height: 100%;
              transition: $trans;
            }

            & .tag {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;
              text-align: left;
              background: linear-gradient(
                to right top,
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 0.8),
                rgba(255, 255, 255, 0.6),
                rgba(255, 255, 255, 0.2)
              );
              width: 100%;
              height: 100px;
              border-top-right-radius: 50px;
              position: absolute;
              transform: translateY(300px);
              transition: $trans;
              padding: 0 5px;

              & .type,
              .room,
              .price {
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              & .type p,
              .room p,
              .price p,
              span {
                color: #222;
                font-size: 1rem;
                font-weight: bold;
              }
              & #j {
                color: dodgerblue;
                margin: 0 5px;
              }
              & #d {
                color: goldenrod;
              }
            }
          }
        }
      }
    }

    & footer {
      background: $primary;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      & .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        & h1 {
          color: $secondary;
          font-size: 3rem;
          letter-spacing: -5px;
          text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.6);
        }

        & .about {
          display: flex;
          flex-direction: column;
          justify-content: start;

          & a {
            color: $secondary;
            font-size: 1rem;
            transition: $trans;

            &:hover {
              color: $hover;
            }
          }
        }

        & .social {
          display: flex;
          justify-content: space-around;
          align-items: center;

          & i {
            color: $secondary;
            font-size: 2rem;
            transition: $trans;
            margin: 0 10px;

            &:hover {
              color: $hover;
            }
          }
        }
      }

      & .licence {
        font-size: 0.9rem;
        color: $secondary;
      }
    }
  }
}
// Responsive Layout

@media screen and (max-width: 550px) {
  body {
    & nav {
      padding: 5px 10px;
      & .container {
        & .logo {
          & a {
            font-size: 1.2rem;
          }
        }
        & .nav-links {
          & .search {
            & input {
              width: 100px;
              height: 20px;
              &:focus {
                animation: none;
              }
            }
          }
          & i {
            font-size: 0.9rem;
            margin: 0 5px;
          }
        }
      }
    }
    & main {
      & .home {
        height: 250px;
        &::after {
          height: 250px;
        }
        & .covertext {
          top: 40%;
          margin: 0 20px;

          & h1 {
            font-size: 1rem;
            color: $secondary;
          }

          & h3 {
            font-size: 1.5rem;
          }

          & p {
            font-size: 0.6rem;
            letter-spacing: 3px;
          }

          & a {
            width: 60px;
            height: 30px;
            margin-top: 8px;
            font-size: 0.6rem;
            &:hover {
              letter-spacing: 1px;
            }
          }
        }
        & .slide-container {
          & .mySlides {
            width: 100%;
            height: 250px;
            //animation: fade 0.3s;
            & img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      & .navigator {
        width: 100%;
        height: 50px;

        & h3 {
          font-size: 0.6rem;
        }
        & .container {
          & .a,
          .b,
          .c {
            width: 60px;
            height: 20px;
            margin: 0 10px;

            &:hover {
              letter-spacing: 0px;
            }

            & a {
              font-size: 0.4rem;
            }
          }
        }
      }
      & .content {
        margin: 5px 0;
        & h1 {
          font-weight: normal;
          font-size: 1rem;
          margin-top: 5px;
        }

        & .container {
          width: 100%;
          height: 200px;
          padding: 5px;

          & .item-container {
            height: max-content;

            & .item-card {
              width: 200px;
              height: 130px;
              padding: 3px;
              &:hover .tag {
                transform: translateY(40px);
              }
              & .tag {
                height: 50px;
                transform: translateY(150px);
                & .type,
                .room,
                .price {
                  justify-content: space-around;
                }
                & .type p,
                .room p,
                .price p,
                span {
                  font-size: 0.7rem;
                }
              }
            }
          }
        }
      }
      & footer {
        & .content {
          & h1 {
            font-size: 1.4rem;
          }

          & .about {
            & a {
              font-size: 0.6rem;
            }
          }

          & .social {
            & i {
              font-size: 1rem;
              margin: 0 5px;
            }
          }
        }

        & .licence {
          font-size: 0.5rem;
        }
      }
    }
  }
}

// Animations

@keyframes expend {
  from {
    width: 100px;
  }
  to {
    width: 200px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
