@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Sora", sans-serif;
  scroll-padding-top: 50px;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #daffde;
}

body nav {
  background: #519259;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 5;
  -webkit-box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.4);
}

body nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .container .logo a {
  color: #daffde;
  font-size: 2rem;
  letter-spacing: -4px;
  text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body nav .container .logo a:hover {
  color: #0e5517;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body nav .container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav .container .nav-links .search input {
  width: 100px;
  height: 30px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 50px;
  margin: 0 10px;
}

body nav .container .nav-links .search input:focus {
  -webkit-animation: expend 1s forwards;
          animation: expend 1s forwards;
}

body nav .container .nav-links i {
  margin: 0 10px;
  color: #daffde;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 1.3rem;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

body nav .container .nav-links i:hover {
  color: #0e5517;
  text-shadow: none;
}

body main {
  width: 100%;
  min-height: 100vh;
}

body main section {
  padding: 0px;
}

body main .home {
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  position: relative;
}

body main .home::after {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body main .home .covertext {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  float: left;
  position: absolute;
  top: 40%;
  margin: 0 150px;
}

body main .home .covertext h1 {
  font-size: 2.5rem;
  color: #daffde;
}

body main .home .covertext h3 {
  font-size: 5rem;
  color: #daffde;
}

body main .home .covertext p {
  font-size: 1rem;
  color: #daffde;
  letter-spacing: 5px;
}

body main .home .covertext a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 15px;
  border-radius: 50px;
  border: 1px solid #519259;
  background: transparent;
  color: #daffde;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body main .home .covertext a:hover {
  background: #519259;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 2px;
  letter-spacing: 3px;
}

body main .home .slide-container {
  width: 100%;
  height: 100vh;
}

body main .home .slide-container .mySlides {
  width: 100%;
  height: 100vh;
}

body main .home .slide-container .mySlides img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

body main .navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background: #fff;
  width: 100%;
  height: 200px;
}

body main .navigator h3 {
  color: #519259;
  font-size: 1.4rem;
}

body main .navigator .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .navigator .container .a,
body main .navigator .container .b,
body main .navigator .container .c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  background: #519259;
  margin: 0 20px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body main .navigator .container .a:hover,
body main .navigator .container .b:hover,
body main .navigator .container .c:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  letter-spacing: 2px;
  background: #0e5517;
}

body main .navigator .container .a a,
body main .navigator .container .b a,
body main .navigator .container .c a {
  text-decoration: none;
  color: #daffde;
}

body main .content {
  width: 100%;
  height: auto;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

body main .content h1 {
  color: #519259;
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 20px;
}

body main .content .container {
  width: 100%;
  height: 350px;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

body main .content .container .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 350px;
  padding: 20px;
}

body main .content .container .item-container .item-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 200px;
  background: #fff;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin: 0 5px;
}

body main .content .container .item-container .item-card:hover .tag {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

body main .content .container .item-container .item-card:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body main .content .container .item-container .item-card img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body main .content .container .item-container .item-card .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  background: -webkit-gradient(linear, left bottom, right top, from(white), color-stop(rgba(255, 255, 255, 0.8)), color-stop(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right top, white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
  width: 100%;
  height: 100px;
  border-top-right-radius: 50px;
  position: absolute;
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 0 5px;
}

body main .content .container .item-container .item-card .tag .type,
body main .content .container .item-container .item-card .tag .room,
body main .content .container .item-container .item-card .tag .price {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .content .container .item-container .item-card .tag .type p,
body main .content .container .item-container .item-card .tag .room p,
body main .content .container .item-container .item-card .tag .price p,
body main .content .container .item-container .item-card .tag span {
  color: #222;
  font-size: 1rem;
  font-weight: bold;
}

body main .content .container .item-container .item-card .tag #j {
  color: dodgerblue;
  margin: 0 5px;
}

body main .content .container .item-container .item-card .tag #d {
  color: goldenrod;
}

body main footer {
  background: #519259;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main footer .content h1 {
  color: #daffde;
  font-size: 3rem;
  letter-spacing: -5px;
  text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.6);
}

body main footer .content .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

body main footer .content .about a {
  color: #daffde;
  font-size: 1rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body main footer .content .about a:hover {
  color: #0e5517;
}

body main footer .content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main footer .content .social i {
  color: #daffde;
  font-size: 2rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  margin: 0 10px;
}

body main footer .content .social i:hover {
  color: #0e5517;
}

body main footer .licence {
  font-size: 0.9rem;
  color: #daffde;
}

@media screen and (max-width: 550px) {
  body nav {
    padding: 5px 10px;
  }
  body nav .container .logo a {
    font-size: 1.2rem;
  }
  body nav .container .nav-links .search input {
    width: 100px;
    height: 20px;
  }
  body nav .container .nav-links .search input:focus {
    -webkit-animation: none;
            animation: none;
  }
  body nav .container .nav-links i {
    font-size: 0.9rem;
    margin: 0 5px;
  }
  body main .home {
    height: 250px;
  }
  body main .home::after {
    height: 250px;
  }
  body main .home .covertext {
    top: 40%;
    margin: 0 20px;
  }
  body main .home .covertext h1 {
    font-size: 1rem;
    color: #daffde;
  }
  body main .home .covertext h3 {
    font-size: 1.5rem;
  }
  body main .home .covertext p {
    font-size: 0.6rem;
    letter-spacing: 3px;
  }
  body main .home .covertext a {
    width: 60px;
    height: 30px;
    margin-top: 8px;
    font-size: 0.6rem;
  }
  body main .home .covertext a:hover {
    letter-spacing: 1px;
  }
  body main .home .slide-container .mySlides {
    width: 100%;
    height: 250px;
  }
  body main .home .slide-container .mySlides img {
    width: 100%;
    height: 100%;
  }
  body main .navigator {
    width: 100%;
    height: 50px;
  }
  body main .navigator h3 {
    font-size: 0.6rem;
  }
  body main .navigator .container .a,
  body main .navigator .container .b,
  body main .navigator .container .c {
    width: 60px;
    height: 20px;
    margin: 0 10px;
  }
  body main .navigator .container .a:hover,
  body main .navigator .container .b:hover,
  body main .navigator .container .c:hover {
    letter-spacing: 0px;
  }
  body main .navigator .container .a a,
  body main .navigator .container .b a,
  body main .navigator .container .c a {
    font-size: 0.4rem;
  }
  body main .content {
    margin: 5px 0;
  }
  body main .content h1 {
    font-weight: normal;
    font-size: 1rem;
    margin-top: 5px;
  }
  body main .content .container {
    width: 100%;
    height: 200px;
    padding: 5px;
  }
  body main .content .container .item-container {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body main .content .container .item-container .item-card {
    width: 200px;
    height: 130px;
    padding: 3px;
  }
  body main .content .container .item-container .item-card:hover .tag {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  body main .content .container .item-container .item-card .tag {
    height: 50px;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  body main .content .container .item-container .item-card .tag .type,
  body main .content .container .item-container .item-card .tag .room,
  body main .content .container .item-container .item-card .tag .price {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body main .content .container .item-container .item-card .tag .type p,
  body main .content .container .item-container .item-card .tag .room p,
  body main .content .container .item-container .item-card .tag .price p,
  body main .content .container .item-container .item-card .tag span {
    font-size: 0.7rem;
  }
  body main footer .content h1 {
    font-size: 1.4rem;
  }
  body main footer .content .about a {
    font-size: 0.6rem;
  }
  body main footer .content .social i {
    font-size: 1rem;
    margin: 0 5px;
  }
  body main footer .licence {
    font-size: 0.5rem;
  }
}

@-webkit-keyframes expend {
  from {
    width: 100px;
  }
  to {
    width: 200px;
  }
}

@keyframes expend {
  from {
    width: 100px;
  }
  to {
    width: 200px;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */